5.1.1 打印多个参数
你知道，print可用于打印一个表达式，这个表达式要么是字符串，要么将自动转换为字符串。但实际上，你可同时打印多个表达式，条件是用逗号分隔它们：

In [1]:
>>> print('Age:', 42)

Age: 42

In [3]:
>>> name = 'Gumby'
>>> salutation = 'Mr.'
>>> greeting = 'Hello,'
>>> print(greeting, salutation, name)

Hello, Mr. Gumby

如果字符串变量greeting不包含逗号，如何在结果中添加呢？你不能像下面这样做：
print(greeting, ',', salutation, name),实际也可添加

In [6]:
greeting = 'Hello'
print(greeting, ',', salutation, name)

Hello , Mr. Gumby

In [7]:
print(greeting+',', salutation, name)

Hello, Mr. Gumby

In [8]:
print("I", "wish", "to", "register", "a", "complaint", sep="_")

I_wish_to_register_a_complaint

In [9]:
print("I", "wish", "to", "register", "a", "complaint", sep=" ")

I wish to register a complaint

In [10]:
print("I", "wish", "to", "register", "a", "complaint", sep="*")

I*wish*to*register*a*complaint

In [11]:
print('Hello,', end='')
print('world!')

Hello,world!

5.1.2 导入时重命名
从模块导入时，通常使用

        import somemodule
或使用

        from somemodule import somefunction
或

        from somemodule import somefunction, anotherfunction, yetanotherfunction
或

        from somemodule import *
仅当你确定要导入模块中的一切时，才使用最后一种方式。但如果有两个模块，它们都包含函数open，该如何办呢？你可使用第一种方式导入这两个模块，并像下面这样调用函数：

        module1.open(...)
        module2.open(...)
但还有一种办法：在语句末尾添加as子句并指定别名。下面是一个导入整个模块并给它指定别名的例子：

        >>> import math as foobar
        >>> foobar.sqrt(4)
        2.0
下面是一个导入特定函数并给它指定别名的例子：

        >>> from math import sqrt as foobar
        >>> foobar(4)
        2.0
对于前面的函数open，可像下面这样导入它们：

        from module1 import open as open1
        from module2 import open as open2

5.2.1 序列解包
实际上，这里执行的操作称为序列解包（或可迭代对象解包）：将一个序列（或任何可迭代对象）解包，并将得到的值存储到一系列变量中。下面用例子进行解释。

In [13]:
x, y, z = 1, 2, 3
>>> x, y = y, x
>>> print(x, y, z)

2 1 3

In [18]:
values = 1, 2, 3
values
x, y, z = values
x

1

这在使用返回元组（或其他序列或可迭代对象）的函数或方法时很有用。假设要从字典中随便获取（或删除）一个键-值对，可使用方法popitem，它随便获取一个键-值对并以元组的方式返回。接下来，可直接将返回的元组解包到两个变量中。

In [19]:
>>> scoundrel = {'name': 'Robin', 'girlfriend': 'Marion'}
>>> key, value = scoundrel.popitem()
>>> key

'girlfriend'

In [20]:
value

'Marion'

这让函数能够返回被打包成元组的多个值，然后通过一条赋值语句轻松地访问这些值。

要解包的序列包含的元素个数必须与你在等号左边列出的目标个数相同，否则Python将引发异常。

In [21]:
>>> x, y, z = 1, 2

ValueError: not enough values to unpack (expected 3, got 2)

In [22]:
>>> x, y, z = 1, 2, 3, 4

ValueError: too many values to unpack (expected 3)

可使用星号运算符（*）来收集多余的值，这样无需确保值和变量的个数相同，如下例所示：

In [23]:
>>> a, b, *rest = [1, 2, 3, 4]
>>> rest

[3, 4]

还可将带星号的变量放在其他位置。

In [25]:
name = "Albus Percival Wulfric Brian Dumbledore"

In [26]:
>>> first, *middle, last = name.split()
>>> middle

['Percival', 'Wulfric', 'Brian']

赋值语句的右边可以是任何类型的序列，但带星号的变量最终包含的总是一个列表。在变量和值的个数相同时亦如此。

In [27]:
>>> a, *b, c = "abc"
>>> a, b, c

('a', ['b'], 'c')

In [ ]:
带星号的以列表形式存在

5.2.3 增强赋值
可以不编写代码x = x + 1，而将右边表达式中的运算符（这里是+）移到赋值运算符（=）的前面，从而写成x += 1。这称为增强赋值，适用于所有标准运算符，如*、/、%等。

In [28]:
>>> x = 2
>>> x += 1
>>> x *= 2
>>> x

6

In [29]:
>>> fnord = 'foo'
>>> fnord += 'bar'
>>> fnord *= 2
>>> fnord

'foobarfoobar'

5.4 条件和条件语句
        False   None   0   ""   ()   []   {}
    换而言之，标准值False和None、各种类型（包括浮点数、复数等）的数值0、空序列（如空字符串、空元组和空列表）以及空映射（如空字典）都被视为假，而其他各种值都被视为真[插图]，包括特殊值True[插图]。

In [1]:
True

True

In [2]:
False

False

In [3]:
True==1

True

In [4]:
False==0

True

In [5]:
True+False+42

43

In [7]:
 >>> bool('')

False

In [8]:
 >>> bool(0)

False

In [9]:
 >>> bool('I think, therefore I am')

True

In [10]:
>>> bool(42)

True

In [14]:
        name=input('What is your name? ')
        if name.endswith('Gumby'):
            print('Hello, Mr. Gumby')
        else:
            print('Nice to meet you '+name)

What is your name? 职称
Nice to meet you 职称

要检查多个条件，可使用elif。elif是else if的缩写，由一个if子句和一个else子句组合而成，也就是包含条件的else子句。

In [19]:
        name=input('What is your name? ')
        if name.endswith('Gumby'):
            print('Hello, Mr. Gumby')
        elif name.endswith('rjb'):
            print('Hello,name')
        else:
            print('Nice to meet you '+name)

What is your name? 职称
Nice to meet you 职称

In [25]:
    import traceback
    try:
        num = int(input('Enter a number: '))
    except Exception as e:
        print('error is',{e},'set default num=0')
        traceback.print_exc()
        num=0
    if num > 0:
            print('The number is positive')
    elif num < 0:
            print('The number is negative')
    else:
            print('The number is zero')

Enter a number: rjb
error is {ValueError("invalid literal for int() with base 10: 'rjb'")} set default num=0
The number is zero

Traceback (most recent call last):
  File "C:\Users\jcrj\AppData\Local\Temp/ipykernel_22448/745702035.py", line 3, in <module>
    num = int(input('Enter a number: '))
ValueError: invalid literal for int() with base 10: 'rjb'

In [29]:
        name=input('What is your name? ')
        if name.endswith('Gumby'):
            if name.startswith('Mr') or name.startswith('mr'):
              print('Hello, Mr. Gumby')
            elif name.startswith('Mrs') or name.startswith('mrs'):
              print('Hello, Mrs. Gumby')
            else:
              print('Hello, Gumby')
        else:
            print('Hello, stranger')

What is your name? mr Gumby
Hello, Mr. Gumby

In [1]:
>>> "foo" == "foo"

True

In [2]:
>>> "foo" == "bar"

False

In [4]:
>>> x = y = [1, 2, 3]
>>> z = [1, 2, 3]
>>> x == y

True

In [5]:
x is y

True

In [6]:
x is z

False

但最后一个示例的结果很奇怪：x和z相等，但x is z的结果却为False。为何会这样呢？因为is检查两个对象是否相同（而不是相等）。变量x和y指向同一个列表，而z指向另一个列表（其中包含的值以及这些值的排列顺序都与前一个列表相同）。这两个列表虽然相等，但并非同一个对象。

In [15]:
>>> x = [1, 2, 3]
>>> y = [2, 4]
>>> x is not y

True

In [16]:
>>> del x[2]
>>> y[1] = 1
>>> y.reverse()
>>> x == y

True

In [17]:
x is y

False

In [5]:
name = input('What is your name?')
if 's' in name:
    print('Your name contains the letter "s".')
else:
    print('Your name does not contain the letter "s".')

What is your name?rhn?
Your name does not contain the letter "s".

In [7]:
>>> "a".lower() < "B".lower()

True

In [9]:
number = int(input('Enter a number between 1 and 10: '))
if number <= 10 and number >= 1:
    print('Great!')
else:
    print('Wrong!')

Enter a number between 1 and 10: 58
Wrong!

In [10]:
>>> age = 10
>>> assert 0 < age < 100

In [11]:
>>> age = -1
>>> assert 0 < age < 100

AssertionError:

In [12]:
>>> age = -1
>>> assert 0 < age < 100, 'The age must be realistic'

AssertionError: The age must be realistic

因为让程序在错误条件出现时立即崩溃胜过以后再崩溃。基本上，你可要求某些条件得到满足（如核实函数参数满足要求或为初始测试和调试提供帮助），为此可在语句中使用关键字assert。

In [13]:
words = ['this', 'is', 'an', 'ex', 'parrot']
for word in words:
    print(word)

this
is
an
ex
parrot

In [15]:
>>> range(0, 10)

range(0, 10)

In [16]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
d = {'x': 1, 'y': 2, 'z': 3}
for key in d:
    print(key, 'corresponds to', d[key])

x corresponds to 1
y corresponds to 2
z corresponds to 3

In [19]:
for key, value in d.items():
            print(key, 'corresponds to', value)

x corresponds to 1
y corresponds to 2
z corresponds to 3

1. 并行迭代
有时候，你可能想同时迭代两个序列。假设有下面两个列表：

        names = ['anne', 'beth', 'george', 'damon']
        ages = [12, 45, 32, 102]

In [20]:
names = ['anne', 'beth', 'george', 'damon']
ages = [12, 45, 32, 102]

In [21]:
for i in range(len(names)):
            print(names[i], 'is', ages[i], 'years old')

anne is 12 years old
beth is 45 years old
george is 32 years old
damon is 102 years old

一个很有用的并行迭代工具是内置函数zip，它将两个序列“缝合”起来，并返回一个由元组组成的序列。返回值是一个适合迭代的对象，要查看其内容，可使用list将其转换为列表。

In [23]:
>>> list(zip(names, ages))
for name, age in zip(names, ages):
    print(name, 'is', age, 'years old')

anne is 12 years old
beth is 45 years old
george is 32 years old
damon is 102 years old

函数zip可用于“缝合”任意数量的序列。需要指出的是，当序列的长度不同时，函数zip将在最短的序列用完后停止“缝合”。

In [24]:
>>> list(zip(range(5), range(100000000)))

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)]

列表推导是一种从其他列表创建列表的方式，类似于数学中的集合推导。列表推导的工作原理非常简单，有点类似于for循环。

In [25]:
>>> [x * x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
>>> [x*x for x in range(10) if x % 3 == 0]
>>> [(x, y) for x in range(3) for y in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [30]:
result = []
for x in range(3):
    for y in range(3):
        result.append((x, y))
result

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [31]:
>>> girls = ['alice', 'bernice', 'clarice']
>>> boys = ['chris', 'arnold', 'bob']
girls = ['alice', 'bernice', 'clarice']
            boys = ['chris', 'arnold', 'bob']
            letterGirls = {}
            for girl in girls:
                letterGirls.setdefault(girl[0], []).append(girl)
            print([b+'+'+g for b in boys for g in letterGirls[b[0]]])
>>> [b+'+'+g for b in boys for g in girls if b[0] == g[0]]

['chris+clarice', 'arnold+alice', 'bob+bernice']

In [32]:
girls = ['alice', 'bernice', 'clarice']
boys = ['chris', 'arnold', 'bob']
letterGirls = {}
for girl in girls:
    letterGirls.setdefault(girl[0], []).append(girl)
print([b+'+'+g for b in boys for g in letterGirls[b[0]]])

['chris+clarice', 'arnold+alice', 'bob+bernice']

使用圆括号代替方括号并不能实现元组推导，而是将创建生成器，详细信息请参阅第9章的旁注“简单生成器”。然而，可使用花括号来执行字典推导。

In [33]:
>>> squares = {i:"{} squared is {}".format(i, i**2) for i in range(10)}

squares


有时候什么都不用做。这种情况不多，但一旦遇到，知道可使用pass语句大有裨益。

In [37]:
name="Bill Gates"
if name == 'Ralph Auldus Melish':
    print('Welcome!')
elif name == 'Enid':
    # 还未完成……
    pass
elif name == 'Bill Gates':
    print('Access Denied')

Access Denied

对于你不再使用的对象，Python通常会将其删除（因为没有任何变量或数据结构成员指向它）。

In [39]:
>>> scoundrel = {'age': 42, 'first name': 'Robin', 'last name': 'of Locksley'}
>>> robin = scoundrel
>>> scoundrel

{'age': 42, 'first name': 'Robin', 'last name': 'of Locksley'}

In [40]:
robin

{'age': 42, 'first name': 'Robin', 'last name': 'of Locksley'}

In [42]:
scoundrel = None
robin

{'age': 42, 'first name': 'Robin', 'last name': 'of Locksley'}

In [43]:
>>> x = ["Hello", "world"]
>>> y = x
>>> y[1] = "Python"
>>> x

['Hello', 'Python']

In [44]:
del x
y

['Hello', 'Python']

这是为什么呢？x和y指向同一个列表，但删除x对y没有任何影响，因为你只删除名称x，而没有删除列表本身（值）。事实上，在Python中，根本就没有办法删除值，而且你也不需要这样做，因为对于你不再使用的值，Python解释器会立即将其删除。

5.7.3 使用exec和eval执行字符串及计算其结果

In [45]:
>>> exec("print('Hello, world!')")

Hello, world!

In [46]:
>>> from math import sqrt
>>> scope = {}
>>> exec('sqrt = 1', scope)
>>> sqrt(4)

2.0

In [47]:
>>> scope['sqrt']

1

In [48]:
>>> len(scope)

2

In [49]:
>>> scope.keys()

dict_keys(['__builtins__', 'sqrt'])

eval是一个类似于exec的内置函数。exec执行一系列Python语句，而eval计算用字符串表示的Python表达式的值，并返回结果（exec什么都不返回，因为它本身是条语句）。例如，你可使用如下代码来创建一个Python计算器：

In [50]:
>>> eval(input("Enter an arithmetic expression: "))

Enter an arithmetic expression: 56+2**5

88

In [51]:
>>> scope = {}
>>> scope['x'] = 2
>>> scope['y'] = 3
>>> eval('x * y', scope)

6